<form action="/comprar" method="post">
    Name: <input type="text" name="name" id="name"><br>
    Preço: <input type="number" name="price" id="price"><br>
    Total: <input type="number" name="amount" id="amount"><br>
    Email:<input type="email" name="email" id="email"><br>
    Id:<input type="number" name="id" id="id"><br>
    <button>Comprar</button>
</form>

<hr>

<form action="/sub" method="post">
    Email:<input type="email" name="email" id="email"><br>
    <button>Assinar</button>
</form>